* {
  box-sizing: border-box;
}

body {
  background: #f5f6fa;
}

.nav {
  width: 100%;
  height: 4.538rem;
  margin: 0 0 2.375rem;
  background-color: #fff;
  display: flex;
}

@media screen and (max-width: 650px) {
  .nav {
    height: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .nav {
    height: 10rem;
  }
}

.nav-1 {
  width: 50%;
}

.nav-2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-1 .ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 650px) {
  .nav-1 .ul {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .nav-1 .ul {
    display: flex;
    flex-direction: column;
  }

  .nav-1 ul .categories {
    margin: 1.125rem 41.5rem 0.688rem 0;
  }
}

.nav ul .bookstore {
  /* width: 15rem; */
  height: 2.313rem;
  /* margin: 0.375rem 2.938rem 0.125rem 0; */
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav ul li a {
  text-decoration: none;
  color: #4386bf;
}

.nav ul .books {
  /* width: 3.688rem; */
  height: 1rem;
  /* margin: 1.125rem 2.563rem 0.688rem 0; */
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.nav ul .categories {
  /* width: 6.563rem; */
  height: 1rem;
  /* margin: 1.125rem 41.5rem 0.688rem 2.563rem; */
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.oval {
  width: 2.813rem;
  height: 2.813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
}

.svg-icon {
  color: red;
}

.bookContainer {
  width: 100vw;
  /* height: 10.625rem; */
  /* padding: 2rem 5.188rem 1.625rem 1.688rem; */
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.bookContainer:nth-child(1) {
  margin-top: 2rem;
}

.bookInfo {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

@media screen and (max-width: 650px) {
  .bookInfo {
    width: 100%;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bookContainer {
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .bookInfo {
    display: flex;
    flex-direction: column;
  }

  .bookContainer {
    height: auto;
  }
}

.bookInfo p {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.bookInfo h1 {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.bookInfo h2 {
  width: 8.688rem;
  height: 2.188rem;
  margin: 0.25rem 0 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.controls {
  /* padding-left: 0; */
  display: flex;
  flex-direction: column;
  list-style: none;
  /* width: 50%; */
}

.controls li {
  /* padding-right: 2rem; */
  color: #4386bf;
}

.controls li a:nth-child(1)::after {
  content: "|";
  padding: 12px;
}

.controls li a:nth-child(2)::after {
  content: "|";
  padding: 12px;
}

.progress-amount {
  display: flex;
  align-items: center;
}

.line {
  height: 4rem;
  border-right: 1px solid #e8e8e8;
  margin-left: 14rem;
  margin-top: -4rem;
  position: absolute;
}

.circle-wrap {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 1rem;
  background: #e8e8e8;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}

.mask .fill {
  clip: rect(0, 3rem, 4.5rem, 0);
  background-color: #227ded;
}

.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(108deg);
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0, 4.5rem, 4.5rem, 2rem);
}

.statusLoad {
  display: flex;
  flex-direction: column;
}

.statusNumber {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(108deg);
  }
}

.circle-wrap .inside-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  line-height: 120px;
  text-align: center;
  margin-top: 4px;
  margin-left: 4px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.name {
  opacity: 0.5;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.current-chapter {
  height: 1.313rem;
  margin: 0.5rem 0;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.button {
  width: 8.938rem;
  font-family: 'RobotoSlab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  padding: 0.3rem 1rem;
  border: none;
}

.category {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
